html, body, header, footer, main, section, h1, h2, ul, li, p, a {
    padding: 0;
    border: 0;
    margin: 0;
}

html,body
{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
  background-image: url('/images/solar-1-cropped.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.pageTitle {
  background-color: #555555;
  padding: 10px;
}

h1 {
  color: white;
  font: 26px/28px "Georgia", serif;
}

h2.warning {
  color: red;
  font: bold 24px/26px "Arial", sans-serif;
}

h4.warningInfo {
  font: italic 18px/20px "Georgia", serif;
}

li {
  list-style: none;
}

input, label {
  display: block;
}

label {
  font: bold 16px/18px "Arial", sans-serif;
}

label.submitLabel {
  color: darkgreen;
  font-size: 18px;
}

.formWarning {
  color: red;
  font: italic 16px/18px "Georgia", serif;
}

#installName {
  width: 100%;
  margin: 5px 0;
  font: italic 16px "Arial", sans-serif;
}

.warningPopup {
  z-index: 100;
  position: absolute;
}

.sidebar {
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 0px;
  bottom: 0px;
  height: 100%;
  width: 180px;
  padding: 10px;
  padding-top: 30px;
  background: rgba(0, 0, 0, 0.6);
}

.content {
  z-index: 1;
  width: 100%;
  height: 100%;
  padding-left: 200px;
  padding-top: 30px;
  overflow-x: hidden;
  overflow-y: scroll;
  top: 0px;
}

.angularView {
  width: 70%;
  height: auto;
  min-width: 850px;
  min-height: 510px;
  max-height: 720px;
  margin: 10px 30px;
  border: 2px #555555 solid;
  border-radius: 5px;
  background-color: #FEFEFE;
}

.angularView.short {
  min-height: 410px;
}

.regContainer {
  display: inline-block;
  float: left;
  margin: 5px 10px;
  padding: 5px 10px 40px 10px;
}

.regImgContainer {
  display: inline-block;
  margin-left: 300px;
}

.regImgContainer img {
  border: 1px darkblue solid;
  border-radius: 3px;
}

.regLog {
  display: inline;
  height: 100px;
  width: 100%;
}

.regInput {
  margin: 10px;
}

.regInput label {
  font: bold 16px "Arial", sans-serif;
}

.regInput input {
  font: italic 14px "Arial", sans-serif;
}

.regSubmit {
  margin: 10px;
}

.regSubmit input, .regSubmit button {
  display: inline-block;
  border: none;
  border-radius: 3px;
  height: 30px;
  background-color: green;
  padding: 7px;
  font: 16px/18px "Arial", sans-serif;
  color: white;
  margin: 20px 10px 0 0;
}

.regSubmit button {
  background-color: darkorange;
  font: 16px/18px "Arial", sans-serif;
  color: white;
  margin-left: 5px;
}

.regInstructions {
  margin: 15px 15px 25px 15px;
  padding: 5px 10px;
  font: 20px/22px "Georgia", serif;
}

.regInstructions span {
  font-style: italic;
  font-weight: bold;
  color: darkblue;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translateX(-300%);
    -ms-transform: translateX(-300%);
    transform: translateX(-300%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  to {
    -webkit-transform: translateX(200%);
    -ms-transform: translateX(200%);
    transform: translateX(200%);
    opacity: 0;
  }
}

.warningPopup {
  -webkit-transition:all linear 0.25s;
  transition:all linear 0.25s;
}

.warningPopup.ng-hide {
  opacity:0;
}

.angularView.ng-enter {
  animation: slideInRight 1s both ease-in;
}

.angularView.ng-leave {
  animation: slideOutRight 0.5s both ease-in;
}

.createForm {
  height: 100%;
}

.nav {
  display: inline-block;
  position: relative;
  z-index: 2;
  width: 90%;
  margin: 10px;
  text-align: center;
  border: 2px #EEEEEE solid;
  border-radius: 5px;
  background-color: #EEEEEE;
  color: #005500;
  font: 15px/16px "Arial", sans-serif;
  padding: 10px 10px;
  outline: none;
}

.nav.signOut {
  color: maroon;
  border-color: maroon;
}

.nav.signOut:active {
  font-weight: bold;
}

.nav.active {
  color: black;
  border: 2px #FFFF55 solid;
  /*background-color: yellow;*/
  background: -webkit-radial-gradient(white, yellow, orange); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(white, yellow, orange); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(white, yellow, orange); /* For Firefox 3.6 to 15 */
  background: radial-gradient(white, yellow, orange); /* Standard syntax */
  font-weight: bold;
}

.columnHolder {
  margin: 5px 0;
  padding: 5px 0;
}

.createContainer {
  height: 400px;
  display: block;
  min-width: 150px;
  padding: 5px 10px;
}

.createContainer.left, .createContainer.middle {
  border-right: 1px solid #CCCCCC;
}

.createContainer.left {
  float: left;
  width: 20%;
}

.createContainer.middle {
  margin-left: 23%;
  margin-right: 31%;
}

.createContainer.right {
  float: right;
  width: 28%;
}

.createContainerFloor {
  clear: both;
  margin: 5px 5px;
  padding: 20px 0;
  float: right;
  display: inline-block;
}

.pageInstructions {
  font: bold 18px "Georgia", serif;
  color: darkgreen;
}

.pageDetails {
  margin-left: 10px;
  font: italic 14px "Arial", sans-serif;
}

.pageDetails span {
  font-weight: bold;
  color: darkblue;
}

.controlRecommendation {
  font: italic 11px "Arial", sans-serif;
  color: darkgreen;
}

.floorPadding {
  width: auto;
  display: inline-block;
}

.floorControls {
  float: right;
  display: inline-block;
  height: 100%;
  margin: 0 0 0 20px;
}

.radioHolder {
  display: inline-block;
  margin: 0 10px;
}

.radioControlLabel {
  float: left;
  font-size: 14px;
}

.radioControlLabel span {
  font-weight: normal;
  font-style: italic;
}

.radioControl {
  float: left;
}

.colControls.radioControls {
  display: inline-block;
}

.colControls.textControls {
  display: block;
  text-align: center;
  margin: 5px;
  padding: 3px;
}

.controlBlock {
  display: block;
  margin: 5px 10px;
}

.controlBlock.textControl {
  padding-top: 25px;
  float: left;
}

.controlBlock img {
  float: right;
}

.colControlLabel {
  font: bold 16px "Arial", sans-serif;
}

.colControlLabel span {
  font: italic 16px "Arial", sans-serif;
}

.textControls input {
  width: 50%;
  margin-left: 25%;
  text-align: center;
  font: italic 14px "Arial", sans-serif;
}

.submitButton {
  border: none;
  border-radius: 3px;
  height: 40px;
  background-color: green;
  padding: 10px;
  font: 18px/22px "Arial", sans-serif;
  color: white;
}

.submitButton:disabled {
  background-color: #333333;
  opacity: 0.60;
}

.textHolder {
  margin: 15px 10px;
  padding: 5px;
}

.warningPopup {
  position: fixed;
  top: 100px;
  left: 300px;
  height: 400px;
  width: 700px;
  background: rgba(55, 55, 55, 0.9);
  padding: 20px 0;
  border: 1px solid black;
  /*border-radius: 2px;*/
  z-index: 1000;
}

.warningContainer {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 75%;
  background-color: #EEEEEE;
  border: 1px solid darkred;
  padding-top: 60px;
}

.warningButton {
  border: none;
  border-radius: 3px;
  height: 40px;
  background-color: green;
  padding: 10px;
  font: 18px/22px "Arial", sans-serif;
  color: white;
}

/*-----------------------------*/
/*-----trNgGrid Styling--------*/
/*-----------------------------*/

.tr-ng-grid {
  background-color: #444444;
  color: white;
  border: 1px solid darkgray;
  border-radius: 3px;
  padding: 5px;
}

.tr-ng-column-filter, .input-sm {
  max-width: 105px;
  text-align: center;
}

.tr-ng-cell {
  max-width: 105px;
  font: 14px/16px "Arial", sans-serif;
  text-align: center;
}

.tr-ng-title {
  font-weight: bold;
  font-size: 15px;
  color: #EEEEEE;
}

.tr-ng-grid-footer {
  margin-top: 10px;
  font: 12px/14px "Arial", sans-serif;
}

.tr-ng-grid-footer .form-control {
  margin-bottom: 10px;
}

.pagination li {
  display: inline;
}

.pagination a {
  margin: 3px;
  color: orange;
  font-size: 15px;
  font-weight: bold;
}

.delButton {
  color: red;
}

/*-----------------------------*/
/*--------D3 Styling-----------*/
/*-----------------------------*/

h2.chartTitle {
  color: darkblue;
  font: bold 20px/22px "Arial", sans-serif;
  text-align: center;
}

.chartArea {
  height: 360px;
  display: block;
  text-align: center;
}

.domain {
  fill: none;
  stroke: black;
  stroke-width: 2;
}

.line {
  stroke-width: 1.5px;
  fill: none;
}
