<div class="pageTitle"><h1>New Solar Installation</h1></div>

<form class="createForm" ng-submit="newSolarInstall()">
  <div class="columnHolder">
    <div class="createContainer right">
      Hmm...

    </div>
    <div class="createContainer left">
      Hello?

    </div>
    <div class="createContainer middle">
      You there?

    </div>
  </div>
  <div class="createContainerFloor">
    <div class="floorPadding"></div>
    <div class="floorControls">
         <input class="submitButton" type="submit" ng-disabled="formInfo.disableForm" value="Create Solar Installation">
    </div>
    <div class="floorControls">
      <label class="submitLabel" for="installName">Installation Name</label>
      <input ng-model="installData.name" type="text" id="installName" required>
      <p class="formWarning" ng-show="dupName">Error: name already exists in database.</p>
      <p class="formWarning">Create up to {{formInfo.numRemaining}} more
        <ng-pluralize count="formInfo.numRemaining" when="{'1':'installation', 'other':'installations'}"></ng-pluralize>!</p>
    </div>
  </div>
</form>

<div class='warningPopup' ng-show="formInfo.disableForm">
  <h2>You have reached the maximum number of installations.</h2>
  <h4>If you would like to create more, please delete one or more
    installations first...</h4>
  <a href="/view"><button>View Saved Installations</button></a>
</div>
