<div class="pageTitle" ng-show="mainControl.loggedIn()"><h1>Welcome, {{mainControl.username}}!</h1></div>
<div class="textHolder">
  <p class="homeInstructions">PVRays uses the <a href="https://developer.nrel.gov/docs/solar/pvwatts-v5/"><span>PVWatts Version 5 API</span></a>,
  developed by the National Renewable Energy Laboratory (NREL), to estimate of month-to-month energy performance for a solar-photovoltaic (PV) installation.</p>
  <p class="homeDetails">To get started, click <a href="/create"><span>Create New Solar Installation</span></a>.
  You can simulate up to ten installations, choosing a variety of features such as location, orientation, and system power.
  </p>
  <p class="homeDetails">To view or remove your saved installations, select <a href="/view"><span>View Saved Solar Installations</span></a>.
  Here you will find a graphical comparison of monthly energy estimates for your PV arrays.
  </p>
  <p class="homeDisclaimer">PVRays is a personal project, and is neither affilated with, nor endorsed by NREL.
  Absolutely no guarantees or warranties are provided with respect to anything you see on or infer from this site.</p>
</div>
