<div class="pageTitle" ng-show="mainControl.loggedIn()"><h1>Welcome, {{mainControl.username}}!</h1></div>
<div class="textHolder">
  <p class="welcomeText">
  Bacon ipsum dolor amet chicken ex consequat in t-bone cupim sirloin voluptate shoulder turducken. Pig cupidatat meatloaf andouille. Bresaola turducken aliquip ground round, chuck spare ribs ipsum ut cupidatat cow aute sausage pork belly in jerky. Sunt venison eu, kielbasa ea short ribs ipsum tail excepteur.
  Irure fugiat minim beef shankle ribeye ball tip alcatra. Occaecat boudin pastrami dolore esse dolor. Tongue elit alcatra biltong fatback ham hock anim et nostrud nulla sed tenderloin. Jerky shankle ad, meatloaf ea meatball short loin ut nulla.
  </p>
</div>
