<div class="pageTitle"><h1>View Solar Installations</h1></div>
<div class="textHolder">
    <h2 class="chartTitle">Projected AC Energy Output by Month (kW-h)</h2>
    <div class="chartArea"></div>
  <table tr-ng-grid="" items="tableData" enable-sorting="true" page-items="5" fields="['Name', 'Created', 'Location', 'Power', 'Losses', 'Placement', 'Panel']">
    <tbody>
      <tr>
        <td><button class="delButton" ng-click="deleteInstall(gridItem.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
